body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Verdana, sans-serif;
}
.main h1 {
  font-size: 50px;
  font-weight: bold;
}

.download {
  color: aquamarine;
  font-size: 16px;
}

.supportOne h2{
  font-weight: 900;
  font-size: 42px;
}

.supportTwo h2{
  font-weight: 300;
  font-size: 42px;
}

.supportOne p{
  font-size: 21px;
  color: gray;
}

.footDiv {
  font-size:21px;
  color: gray;
  text-align: right;
}
